@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat');

:root {
  --charcoal: #202020;
  --fresh-green: #4ABDAC;
  --main-blue: #3366CC;
  --salmon-pink: #FA8072;
}

/* ===== GENERAL STYLES ====== */
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.divider {
  /* height: 20px;
  width: 80px; */
  /* margin-top: -2.5%; */
  /* height: 14%;
  width: 18%; */
}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.8rem;
  /* text-transform: lowercase; */
}
.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}
/* .full-container {
  align-self: flex-start;
} */
.map-container {
  /* align-self: center; */
  border: 1px inset grey;
  height: 90vh;
  width: 100vh;
}
.sidebar {
  /* align-self: center; */
  display: flex;
  height: 50vh;
  width: 100vh;
}

/* ===== BORDERS ====== */
.border-bottom {
  align-self: flex-end;
  height: 130px;
  width: 130px;
}
.border {
  height: 30%;
  width: 25%;
}

/* ===== BUTTONS ====== */
.button {
  border: 2px solid var(--fresh-green);
  border-radius: 30px;
  color: var(--fresh-green);
  font-size: 1.1rem;
  /* font-weight: bold; */
  height: 15%;
  width: 25%;
  text-transform: uppercase;
}
.button:hover {
  border-color: var(--salmon-pink);
  color: var(--salmon-pink);
  cursor: url(images/deep-peach-flower.png), auto;
  /* cursor: url(images/sunflower32.png), auto; */
}

/* ===== TOPBAR ====== */
.topbar {
  background-image: url(./images/watercolor-topbar-blue.png);
  height: 1.0rem;
  opacity: 0.9;
  width: 100%;
  /* width: 100vw; */
}

/* ===== MR & MRS ====== */
.mr, .mrs, .and {
  color: var(--charcoal);
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
}
.and {
  font-size: 2.8rem;
  padding-left: 2%;
}
.mrs {
  padding-left: 4%;
}

/* ===== NAVIGATION ====== */
/* Citation: Please note that this is an adaptation of code provided by WS3 Schools at: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

.logo {
  height: 50px;
  object-fit: contain;
  width: 210px;
}

/* Add styling to the main nav container */
.topnav {
  background-color: white;
  overflow: hidden;
  text-align: center;
  /* position: fixed; */
  width: 100vw;
}
/* Style the links inside the navigation bar */
.topnav a {
  /* background-color: white;
  border: 2px solid var(--fresh-green); */
  border-radius: 6px;
  float: center;
  display: inline-block;
  color: var(--charcoal);
  font-size: 1.5rem;
  text-align: center;
  padding: 0.7em;
  padding-bottom: 1em;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: var(--fresh-green);
  cursor: url(images/deep-peach-flower.png), auto;
  /* transform: rotate(12deg); */
}
/* Add an active class to highlight the current page */
.active {
  color: var(--fresh-green);
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* ===== MAIN IMAGE ====== */
.main-photo{
  display:inline-block;
  margin: 0 auto;
  width: 97%;
}


/* ===== SPA SECTIONS ====== */
#home,
#our-story,
#details,
#photos,
#registry,
#guestbook {
  border: 1px solid grey;
  height: 100vh;
  width: 100vw;
}

/* ===== IMAGES ====== */
.section-img, .main-img {
  height:auto;
  width: 100%;
}
.main-img {
  margin-top: -1%;
}

/* ===== MEDIA QUERIES ====== */
/* logo placement for iPad Pro */
@media screen and (max-width: 1400px) and (min-width:855px){

}
/* logo placement for iPhones, Pixel, and Galaxy */
@media screen and (max-width: 854px) and (min-width:320px){
  #home,
  #our-story,
  #details,
  #photos,
  #registry,
  #guestbook {
    height: 100vh;
    max-width: 100%;
  }
  .mr, .mrs, .and {
    font-size: 2rem;
  }
  .topnav, .topnav > a {
    text-align: center;
  }
  .main-container {
    flex-flow: row wrap;
  }
  iframe {
    height: 100vh;
    width: 100vw;
  }
}
/* general media queries */
@media screen and (max-width: 850px){
  .main-img, .section-img {
    height: 100%;
    object-fit: cover;
    width: 100vw;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 850px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    /* float: left; */
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 850px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
